<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista Produktów</title>
</head>
<body>
<h1>Lista Produktów</h1>
<ul>
    <li th:each="product : ${products}">
        <span th:text="${product.name()}"></span> -
        <span th:text="${#numbers.formatDecimal(product.price(), 1, 2)}"></span> PLN -
        <span th:text="${product.category().getDescription()}"></span>
    </li>
</ul>
<h2>Suma cen: <span th:text="${#numbers.formatDecimal(totalPrice, 1, 2)}">0.00</span> PLN</h2>

<a th:href=@{/}>Powrót do strony głównej</a>
</body>
</html>
